ucs-fonts.tar.gz
xfonts-ucs_*.orig.tar.xz

xfonts-ucs-1.115/*.bdf
xfonts-ucs-1.115/*.changes
xfonts-ucs-1.115/*.missing*
xfonts-ucs-1.115/*.repertoire*

xfonts-ucs-1.115/AUTHORS
xfonts-ucs-1.115/MAPPINGS/
xfonts-ucs-1.115/README
xfonts-ucs-1.115/TARGET*
xfonts-ucs-1.115/*.pl
xfonts-ucs-1.115/examples/
xfonts-ucs-1.115/*.txt
xfonts-ucs-1.115/fonts.*
xfonts-ucs-1.115/map_fonts
xfonts-ucs-1.115/submission/
xfonts-ucs-1.115/touch_id
xfonts-ucs-1.115/unknown_characters

xfonts-ucs-1.115/build/
xfonts-ucs-1.115/debian/files
xfonts-ucs-1.115/debian/xfonts-ucs-cp895.debhelper.log
xfonts-ucs-1.115/debian/xfonts-ucs-cp895.*.debhelper
xfonts-ucs-1.115/debian/xfonts-ucs-cp895.substvars
xfonts-ucs-1.115/debian/xfonts-ucs-cp895/

xfonts-ucs-*.deb
xfonts-ucs_*.debian.tar.xz
xfonts-ucs_*.dsc
xfonts-ucs_*.build
xfonts-ucs_*.changes
